* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.banner {
  background-color: #FF6900;
  max-width: 1600px;
  padding: 12px;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 11px 11px -2px #BCBCBC;
  -moz-box-shadow: 0px 11px 11px -2px #BCBCBC;
  -o-box-shadow: 0px 11px 11px -2px #BCBCBC;
   box-shadow: 0px 11px 11px -2px #BCBCBC;
}


.text-banner {
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}

 .text-banner img {
  width: 100px;
  height: 23px;
  cursor: pointer;
}

.text-information span {
  cursor: pointer;
  margin: 0 2px;
}

.icon i{
  cursor: pointer;
  margin: 0 2px;
}



/* UTILITY */

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}


/* MAIN */


main {
  margin: 0 10px;
  padding: 100px 100px;
}

.row {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 padding: 0 185px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}



.col-33 {
  width: calc(100% / 3 - 20px);
}

.border {
  border: 1px solid black;
}

.card img {
  width: 100%;
}

.position-relative {
  position: relative;
  left: 305px;
}

.info-span {
  font-size: 12px;
  margin-top: 8px;
}


.position-relative-foot {
  position: relative;
  left: 780px;
}

.icon-foot {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.sconto {
  padding: 2px;
  color: white;
  font-weight: bold;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
  bottom: 80px;
}


.front-img {
  display: block;
}

.back-img {
  display: none;
}

.animation:hover .front-img {
  display: none;
}

.animation:hover .back-img {
  display: block;
}



/* FOOTER  */

.container-footer {
  max-width: 1600px;
  height: 100px;
  background-color: #1A1A1A;
  color: white;
  display: flex;
  align-items: center;
}

.icon-foot i{
  cursor: pointer;
}

